<h2>Create New Student Record</h1>  
<p>
Create new student record.

<% if @student.errors.any? %>
  <h3>Whoops! there were some errors.</h3>
  <br/>
  <p>Please try submitting again.</p>
  <ul>
    <% @student.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @student do |form| %>
<%= form.label :studentID, 'Student ID:' %>
<%= form.text_field :studentID  %>
<br/>

<%= form.label :fName, 'Student First Name:' %>
<%= form.text_field :fName %>
<br/>
<%= form.label :lName , 'Student Last Name:'%>
<%= form.text_field :lName %>
<br/>
<%= form.submit %>


<% end %>
</p>
<%= link_to 'Back', students_path %>