<h1>Listing Articles</h1>

<table>
	<tr>
		<th>id</th>
		<th>Title</th>
		<th>Text</th>
	</tr>
	<%= link_to 'Create Article', 'articles/new' %>
	<%#= @articles.inspect %>
	<% @articles.each do |article|%>
	<tr>
		<td><%= article.id %></td>
		<td><%= article.title %></td>
		<td><%= article.text %></td>
		<td><%= link_to 'Show', article_path(article)  %></td>
		<!--Only Administrators can edit an article-->
		<% if @user.has_role? :Administrator %>
		<td><%= link_to 'Edit', edit_article_path(article)  %></td>
		<% end %>
		<td><%= link_to 'Destroy', article_path(article),
			method: :delete,
			data: { confirm: 'Are you sure you want to delete?' }  %>
		</td>
	</tr>
	<% end %>
	<tr>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<td><%= link_to 'Go to Homepage', root_path  %></td>
	</tr>
</table>

<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
