<p>
<h3><%= @student.lName %> <%= @student.fName %> </h3>

<!--If No Grades -->
<% if @student.studentgrade %>
Below are the grades of the individual student: 
<% else%>
This individual has no grades in the system currently.

<% end %>
<!--End If No Grades-->
<div class="row">
<!--Loop through association-->
<table  border="1" cellspacing="1">
    <% @student.studentgrade.each do |students| %>
      <tr>
        <td>
            <%= students.courseName%> 
        </td>
        <td>
            <%= students.grade%>
        </td>
      </tr>
    <% end %>
</table>
</div>
<div class="row">
    <div class="col-md-3">
        <%= link_to 'Back', '/students' %>
    </div>

</div>
</p>